.graph-container {
    display: flex;
    margin-left: 10%;
    justify-content: left; 
    margin-top: 10%; /* Center vertically */
    width: 100%;
    height: 100vh; /* Full viewport height */
  }
  
  .graph {
    width: 50%; /* Adjust width as needed */
    height: 50%; /* Adjust height as needed */
  }