.hover-info {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 8px;
  border-radius: 8px;
  z-index: 10; /* Ensure it appears above the chart */
  transition: opacity 0.2s ease; /* Smooth transition */
}


.graph-container {
  max-width: 100%; /* Full width of its parent container */
}

/* Style for the chart */
.graph {
  background-color: #181e24; /* White background for the chart area */
  border: 1px solid #181e24; /* Border for visual separation */
  height: 500px; /* Increased height for the chart */
  width: 100%; /* Full width of its container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.nodata{
  display: flex;
  justify-content: center;
  background-color: #181e24; /* White background for the chart area */
  border: 1px solid #181e24; /* Border for visual separation */
  height: 500px; /* Increased height for the chart */
  width: 100%; /* Full width of its container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}
