.text{
    color: black;
}
/* search.css */

.results {
    width: 30%;
    margin: 10px 0px; /* Optional: Adds margin around the results */
    z-index:99;
    position: fixed;
    background-color: aliceblue;
}

.results a {
    display: block; /* Makes each link appear on a new line */
    padding: 10px;  /* Optional: Adds padding for better spacing */
    color: #007bff; /* Optional: Sets the link color */
    text-decoration: none; /* Optional: Removes underline from links */
}

.results a:hover {
    text-decoration: underline; /* Optional: Adds underline on hover */
}
